/* Fixed Menu*/
#menu
{
width:100%;
height:80px;
max-height:275px;
position:fixed;
left:0;
bottom:0;
right:0;
background:#ccc;
font-size:120%;
z-index:100;
}

/*Toggling Menu*/
#sub_menu
{
width:90%;
display:none;
background:#ddd;
position:absolute;
left:35px;
transition: background 0.2s ease;
}

/*Toggle Image*/
#tog
{
 width:25px;
 height:25px;
 left:0;
 bottom:0;
 position:fixed;
}
#scroll_up
{
 width:23px;
 height:20px;
 position:fixed;
 left:3px;
 bottom:50px;
}

#scroll_down
{
 width:23px;
 height:20px;
 position:fixed;
 left:3px;
 bottom:28px;
}

/*Toggle Menus*/

#m0
{
 width:auto;
 height:auto;
 display:block;
}

#m1
{
 width:auto;
 height:auto;
 display:none;
}

#m2
{
 width:auto;
 height:auto;
 display:none;
}

#m3
{
 width:auto;
 height:auto;
 display:none;
}
